<h2 class="catalog__title mb-s">Добавить новый товар в каталог</h2>

<%= render 'shared/errors', object: @product %>

<%= form_with(model: @product, class: "form-create" ) do |prod| %>
  <div class="mb-s form-create__input-block">
    <%= prod.label :title, "Наименование:" , class: "form-create__label" %>
    <%= prod.text_field :title, class: "form-create__input" %>
  </div>

  <div class="mb-s form-create__input-block">
    <%= prod.label :image_url, "Путь к изображению:" , class: "form-create__label" %>
    <%= prod.text_field :image_url, class: "form-create__input" %>
  </div>

  <div class="row row__space-between">
    <div class="mb-s form-create__input-block">
      <%= prod.label :product_id, "Код товара:" , class: "form-create__label" %>
      <%= prod.text_field :product_id, class: "form-create__input" %>
    </div>

    <div class="mb-s form-create__input-block">
      <%= prod.label :diagonal, "Диагональ экрана:" , class: "form-create__label" %>
      <%= prod.text_field :diagonal, class: "form-create__input" %>
    </div>
  </div>

  <div class="row row__space-between">
    <div class="mb-s form-create__input-block">
      <%= prod.label :ram, "ОЗУ:" , class: "form-create__label" %>
      <%= prod.text_field :ram, class: "form-create__input" %>
    </div>

    <div class="mb-s form-create__input-block">
      <%= prod.label :storage, "Постоянная память:" , class: "form-create__label" %>
      <%= prod.text_field :storage, class: "form-create__input" %>
    </div>
  </div>

  <div class="row row__space-between">
    <div class="mb-s form-create__input-block">
      <%= prod.label :system_version, "Версия ОС:" , class: "form-create__label" %>
      <%= prod.text_field :system_version, class: "form-create__input" %>
    </div>

    <div class="mb-s form-create__input-block">
      <%= prod.label :camera, "Разрешение камеры:" , class: "form-create__label" %>
      <%= prod.text_field :camera, class: "form-create__input" %>
    </div>
  </div>

  <div class="row row__space-between">
    <div class="mb-s form-create__input-block">
      <%= prod.label :sim_card, "Кол-во SIM-карт:" , class: "form-create__label" %>
      <%= prod.text_field :sim_card, class: "form-create__input" %>
    </div>

    <div class="mb-s form-create__input-block">
      <%= prod.label :battery_capacity, "Емкость аккумулятора:" , class: "form-create__label" %>
      <%= prod.text_field :battery_capacity, class: "form-create__input" %>
    </div>
  </div>
  <div class="row row__space-between">
    <div class="mb-s form-create__input-block">
      <%= prod.label :weight, "Вес:" , class: "form-create__label" %>
      <%= prod.text_field :weight, class: "form-create__input" %>
    </div>

    <div class="mb-s form-create__input-block">
      <%= prod.label :price, "Цена:" , class: "form-create__label" %>
      <%= prod.text_field :price, class: "form-create__input" %>
    </div>
  </div>

  <div class="mb-s form-create__input-block">
    <%= prod.label :description, "Описание:" , class: "form-create__label" %>
    <%= prod.text_area :description, class: "form-create__input" %>
  </div>

  <div class="mb-s form-create__input-block">
    <%= prod.label :in_stock, "Наличие на складе:" , class: "form-create__label" %>
    <%= prod.check_box :in_stock, class: "form-create__input" %>
  </div>

  <%= prod.submit "Добавить в каталог" , class: "btn btn-edit" %>
<% end %>


<%= link_to "Назад", products_path, class: "btn-back" %>